html {
    box-sizing: border-box;
    font-family: "RobotoCondensed";
}
body{
    background-color: #f4f6f5;
}

a {
    display: inline-block;
    text-decoration: none;
}

* {
    outline: none;
    padding: 0;
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

input,
button {
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.container__fluid {
    padding: 120px 30px 0;
    background-color: $grey;
}

hr {
    background-color: rgb(231, 236, 242);
    height: 1px;
    border: none;
}

.product__item__opinions {
    display: flex;
    flex-direction: row;
    align-items: center;
    .rate__star {
        padding: 0;
        margin-right: 12px;
    }
    span {
        color: $colorText;
        font-size: 12px;
    }
}