html {
    box-sizing: border-box;
    font-family: "RobotoCondensed";
}

a {
    display: inline-block;
    text-decoration: none;
}

* {
    outline: none;
    padding: 0;
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

input {
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.container__fluid {
    padding: 120px 30px 0;
    background-color: $grey;
}

hr {
    background-color: rgb(231, 236, 242);
    height: 1px;
    border: none;
}